@import url(/styles/recipe-form.css);

:root {
    --background-color: #EAECCC ; 
    --color-highlight: #CD8D7A;
    --color-1: #C3E2C2;
    --color-2: #DBCC95;
    --font: sans-serif;
    --gap: 1rem; 
}

body {
    text-align: center;
    background-color: var(--background-color);
    color: var(--color-2); 
    font: var(--font);
    font-size: 40px;
    position: relative;
    margin: 0; 
}
<<<<<<< HEAD

=======
input {
    border: 1px solid var(--color-2);
}
>>>>>>> feature1
p {
    display: flex;
}

.background {
    background-color: var(--background-color);

}

.nav-bar {
    display: flex;
    justify-content: space-around;
    align-items: end;
    position: fixed;
    bottom: 0;
    left:10px;
}
<<<<<<< HEAD
=======

button {
    background-color: var(--color-2);
    border: 2px solid var(--color-highlight);
    border-radius: 10px;
}
dsfjkldfj  {
    sdfkdsfl
}
>>>>>>> feature1
